html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    /* border: 1px solid lime; */
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    background-image: url('../assets/weather-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: fixed;
    font-family: "Raleway";
    padding-bottom: 70px;
    /* height: 100%; */
    color: white;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.container {
    width: 85%;
    max-width: 1280px;
    margin: 0 auto;
}
header {
    padding: 20px 0;
}
.header-wrapper {
    display: flex;
    justify-content: space-between;
}
.header-left {
    display: flex;
    align-items: center;
    gap: 20px;
}
.header-input {
    border-radius: 50px;
    padding: 10px 15px;
    font-family: "Raleway";
}
#selectUnit {
    background-color: #416ba7;
    border-radius: 50px;
    padding: 10px 15px;
    color: white;
    font-family: "Raleway";
    font-size: 15px;
}
.header-button {
    background-color: #416ba7;
    border-radius: 50px;
    padding: 10px 15px;
    color: white;
    transition: 0.2s;
}
.header-button:hover {
    scale: 1.1;
}
.main {
    padding-top: 70px;
    display: none;
}
.main-wrapper {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 20px 30px;
    display: flex;
    gap: 50px;
}
.main-today, .main-forecast {
    width: 50%;
}
.today-location, .forecast-title {
    font-weight: 700;
    font-size: 30px;
}
.today-temp {
    font-size: 80px;
}
.today-details {
    margin-top: 20px;
}
.today-details p {
    margin-bottom: 10px;
    font-size: 20px;
}
.today-wrapper {
    display: flex;
    gap: 40px;
    justify-content: space-between;
    margin-top: 20px;
    flex-wrap: wrap-reverse;
    align-items: center;
}
.today-icon {
    height: 200px;
    object-fit: contain;
}
.forecast-wrapper {
    display: flex;
    gap: 20px;
    margin-top: 20px;
    font-size: 20px;
    justify-content: space-between;
}
.forecast-day img {
    width: 50px;
    margin-top: 15px;
}
.forecast-day p {
    margin-top: 10px;
}
.forecast-day {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.forecast-temp {
    font-size: 20px;
}
.forecast-condition, .forecast-date {
    font-size: 15px;
}
@media (max-width:1024px) {
    .main-wrapper {
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
    }
    .main-today, .main-forecast {
        width: 100%;
    }
    .forecast-wrapper {
        width: fit-content;
        margin: 20px auto 0 auto;
        flex-wrap: wrap;
    }
    .forecast-title {
        text-align: center;
    }
}

@media (max-width:500px) {
    .header-wrapper {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
}